# --- SCHEMA TEST FOR PARSING ---
# ===============================
# Distro's repo use for this example: CachyOS

# GLOBAL OPTIONS
[options]
no_confirm = true # THIS WILL BE FALSE ON DEFAULT
packagemanager = "pacman" # THIS IS REQUIRED

# THE TASK MANAGER
# [taskmanager]
# run = ["name_the_task1", "name_the_task2", "name_the_task3", "..."]
# run all by default

# TASKS SCHEMA
# [tasks.name_the_task]
# type = "install/remove/update/shell"
#
# # if type == install
# flags = ["your-packagemanager-installflags"]
# pkgs = ["<package1>", "<package2>", "..."]
#
# # if type == remove
# flags = ["your-packagemanager-removeflags"]
# pkgs = ["<package1>", "<package2>", "..."]
#
# # NOTE: sudo (packagemanager) (flags) (pkgs)
#
# # if type == shell
# program = "your-program" # if you want sudo, put program = "sudo"
# flags = ["flags-or-program"] # if you want sudo, put the program that run as root here + flags that program
# args = ["arg1", "arg2", "..."]
# # NOTE: (program) (flags) (args)

# SOME TASKS EXAMPLE
# NOTE: I doesn't use no cofirm

# [taskmanager]
# run = ["update_system", "installer", "remover", "aur", "flatpak"]
#
# NOTE: You dont need taskmanager.run to run the tasks, by default it will run all of tasks
#

# type = install
[tasks.installer]
type = "install"
flags = ["-S", "--needed"]
pkgs = ["neovim"]
is_sudo = true

# type = remove
[tasks.remover]
type = "remove"
flags = ["-R"]
pkgs = ["mako"]
is_sudo = true

# ## Testing error handling, dont take care of it
# [tasks.make_it_error]
# type = "haha"

# type = update
[tasks.update_system]
type = "update"
flags = ["-Syu"]
is_sudo = true

# type = shell
[tasks.aur]
type = "shell"
program = "paru"
flags = ["-S"]
args = ["calibre-bin"]
# Command will be excuate: paru -S calibre-bin

# type = shell
[tasks.flatpak]
type = "shell"
program = "flatpak"
flags = ["install"]
args = ["md.obsidian.obsidian", "com.spotify.Client"]
# Command will be excuate: flatpak install md.obsidian.obsidian com.spotify.Client
